
/* Positioning ---------------- */

body {
	margin: 0;
	text-align: center;
}

#backg {
	display: inline-block;
	position: relative;
	margin: 0 auto;

	width: 900px;
}

#sharedArea {
	display: block;
	position: relative;
	height: 300px;
	padding: 20px 0;
	text-align: center;
}

#choices {
	display: inline-block;
	position: absolute;
	top: 35%;
	height: 200px;
	padding: 20px;
}

.confirmButton {
	width: 200px;
	height: 4em;
	font: 1em Helvetica;
	color: white;
	background: #c0c0c0;
	border: 0;
	border-bottom: 2px solid #a0a0a0;
	border-right: 2px solid #a0a0a0;
}

.activeCard p {
	display: block;
	position: absolute;
	top: 50%;
	left: 5%;
}

#yourHand {
	display: block;
	text-align: justify;
	margin: 20px 100px 0 100px;
}

/* Positioning end ------------ */

/* A game board ------------------------------ */ 

#board {
	display: block;
	margin: 0;
	width: 100%;
	height: 1000px;
	background: #efefef;
	border-right: 10px solid black;
}


/* A game board end -------------------------- */ 


/* Cardstuff ------------------------------ */ 
.card,
.activeCard {
	width: 200px;
	height: 300px;
	border: 1px solid #c0c0c0;
	display: inline-block;
	background: #fff;
	font: 0.7em Helvetica;
	position: relative;
}

.cardname,
.attack,
.defense {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.portrait {
	top: 40px;
	position: absolute;
	width: 100%;
	height: 260px;
}

.attack,
.defense {
	background: #fff;
	padding: 1em;
	font-size: 1.3em;
	border: 1px solid #eee;
}

.cardname {
	top: 0;
	text-transform: uppercase;
	width: 100%;
	padding-top: 1em;
	height: 30px;
}
.attack {
	left: 0;
	bottom: 0;
}
.defense {
	right: 0;
	bottom: 0;
}
/* Cardstuff END -------------------------- */